html {
  box-sizing: border-box;
  font-family: Karma, serif;
  font-family: Oswald, sans-serif;
  line-height: 1.5;
  font-weight: bold;
}

*,*::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h2 {
  font-family: "Oswald", sans-serif;
  color: #6f00e7;
  text-align: center;
  font-size: 2rem;
}

p {
  font-family: "Karma", serif;
  text-align: center;
  color: #000;
  font-size: 1.4rem;
}

ol {
  display: grid;
  list-style: none;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin: 0;
  padding: .5em 1.5em .7em;
}

ol li {
  display: flex;
  flex-direction: column;
  border: 3px solid #987ffa;
  border-radius: 6px;
  padding: 1em;
}

li {
  display: flex;
  flex-direction: column;
  border: 3px solid #6f00e7;
  border-radius: 6px;
  padding: 1em;
}

/* Older Code*/

a {
  border-radius: 3rem;
  background: #6f00e7;
  color: #fff;
  padding: .5em 1.5em .7em;
}

img {
  width: 100%;
  display: block;
}

ul {
  grid-column: auto;
}

p {
  padding-top: .4rem;
  padding-bottom: .4rem;
}
